@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 1.6rem;
  }

  html,
  body {
    margin: 0;
    min-height: 100%;
    font-family: 'KoddiUDOnGothic-Regular';
    font-size: 16px;
    font-weight: 400;
    background-color: #f9f9f9;
  }

  input {
    outline: none;
  }
}

@font-face {
  font-family: 'KoddiUDOnGothic-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
